<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>
    <a href="/inicio"  class="enlace">
        <img src="assets/logo.png" alt="logo" class="logo">
    </a>
    <ul>
        <li><a routerLink="/inicio" routerLinkActive="active">Inicio</a></li>
        <li><a routerLink="/nosotros" routerLinkActive="active">Quienes somos</a></li>
        <li><a routerLink="/servicios" routerLinkActive="active">Servicios</a></li>
        <li><a routerLink="#">Portafolio</a></li>
        <li><a routerLink="/contacto" routerLinkActive="active">Contacto</a></li>
    </ul>
</nav>
