.item-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
}
.item-card {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-gap: 20px; 
  background-color: #ffffff;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  padding: 1rem ;
  justify-items: left;
}

.image-container {
  grid-column: 1 / span 1; 
  display: flex;
  
  align-items: center;
  border-right: 1px solid #ccc;
  padding-right: 1rem;
  margin-right: 0.5rem;
}

.description-container {
  grid-column: 2 / span 1; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem
}
.item-card img {
  max-width: 100%;
  max-height: 200px;
  object-fit: cover;
}

.item-card:hover .image-container {
  filter: contrast(100%);
}

.card__title {
  color: #444444;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

.sports-button {
  background-color: #FF6F00;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.sports-button:hover {
  background-color: #FF8F00;
}

.sports-button:active {
  background-color: #FFA726;
}

.description-container h3 {
  border-bottom: 2px solid #ccc; 
  width: 100%;
  margin-bottom: 0.5rem;
}