<section class="nosotros-container">
    <div class="titulo">
        <h2>Nuestra Misión</h2>
        <p class="nosotros-descripcion">
            Proporcionar acceso a productos y servicios deportivos de calidad excepcional.
            Brindar una experiencia de compra en línea conveniente y satisfactoria.
            Ser un referente en la industria, ofreciendo una amplia gama de productos deportivos de alta calidad.
            Promover un estilo de vida activo y saludable para nuestros clientes.
            Ofrecer un servicio al cliente excepcional y mantenernos a la vanguardia de las últimas tendencias en el
            mercado deportivo.</p>

        <h3>Nuestra Visión</h3>
        <p>Nuestra visión es convertirnos en la principal tienda deportiva en línea a nivel nacional e internacional,
            reconocida por nuestra excelencia en calidad, variedad de productos y experiencia del cliente. Buscamos ser
            la opción preferida de los entusiastas del deporte y los amantes del fitness al proporcionarles una
            plataforma confiable y conveniente para adquirir productos de alta calidad. A través de nuestra expansión,
            aspiramos a inspirar y fomentar un estilo de vida activo en personas de todas las edades y convertirnos en
            un referente en la industria del comercio electrónico deportivo.</p>

    </div>
    <div>
        <img src="https://static.nike.com/a/images/f_auto,cs_srgb/w_1536,c_limit/9c84ad71-d5c5-4e6c-a422-f0e884af2218/site-oficial-de-nike.jpg"
            alt="ropa-deportiva" class="nosotros-imagen">
    </div>
</section>