/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

body {
  font-family: 'Roboto', Arial, sans-serif;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.main-container {
  min-height: calc(100% - 80px); /* Resta la altura del footer */
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333; 
  color: #fff; 
  
}

